body {
    background: linear-gradient(135deg, #000000, #112211, #000000);
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    height: 100vh;
    overflow: hidden;
}